@import 'base.css';

:root {


  /******************************** Menubar ***************************************/
  --menubar-bg-color: black;
  --menubar-font-color: #eaeaea;

  /******************************** SplitContainer ********************************/
  --splitContainer-bg-color: black;

  /******************************** Resizer ***************************************/
  /* --resizer-bg-color: rgba(255, 255, 255, 0.3); */
  --resizer-bg-color: rgba(255, 255, 255);
  --resizer-border: 0.25rem solid rgba(0, 0, 0, 0);
  --resizer-border-hover: 0.25rem solid rgba(255, 255, 255, 0.6);

  /******************************** Toolbar ***************************************/
  --toolbar-bg-color: black;

  --sidebar-bg-color: black;
  --treeview-bg-color: #222222;
  --workspace-bg-color: black;
  --viewport-bg-color: #eaeaea;

  --property-tab-title-color: #eaeaea;

  --sidebar-width: 17rem;

  --property-container-width: 16.5rem;
  --property-container-title-width: 3rem;
  --property-container-value-width: 11.5rem;
}
