@import 'base.css';

:root {


  /******************************** Menubar ***************************************/
  --menubar-bg-color: #EAEAEA;
  --menubar-font-color: #252A34;

  /******************************** SplitContainer ********************************/
  --splitContainer-bg-color: #EAEAEA;

  /******************************** Resizer ***************************************/
  --resizer-bg-color: rgba(37, 42, 52, 0);
  /* --resizer-bg-color: rgba(0, 0, 0); */
  --resizer-border: 2.5px solid rgba(234, 234, 234, 0);
  --resizer-border-hover: 2.5px  solid rgba(37, 42, 52, 0.6);

  /******************************** Toolbar ***************************************/
  --toolbar-bg-color: #EAEAEA;

  /******************************** TreeView **************************************/
  --treeview-bg-color: white;
  --treeview-font-color: #252A34;

  /******************************** scrollbar *************************************/
  --scrollbar-color: rgba(234, 234, 234, 0.3);
  --scrollbar-color-hover: rgba(234, 234, 234, 0.8);



  --sidebar-bg-color: black;
  --workspace-bg-color: black;
  --viewport-bg-color: #eaeaea;

  --property-tab-title-color: #eaeaea;

  --sidebar-width: 17rem;

  --property-container-width: 16.5rem;
  --property-container-title-width: 3rem;
  --property-container-value-width: 11.5rem;
}
